body{
    height:100vh;
    width:100vw;
    background:linear-gradient(yellow, purple,white);
    display: flex;
    justify-content: center;
   align-items: center;
}
.card{
    height:400px;
    width:300px;
    background-color:#fff;
    border-radius: 10px;
    padding:30px;


}
*{
    margin:0px;
    padding:0px;
}

.card img{
    height:55%;
    width:100%;
    object-fit:cover;
    object-position:center;
    border-radius:10px;

}
h2{
    font-size: 30px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
h3{
    color:red;
    text-align:center;
    font-size: 30px;
    margin-bottom: 20px;
}
.add{

    border:none;
    background-color:rgba(234, 30, 234,0.3);
    font-size: 30px;
    border-radius: 20px;
    color:black;
    margin-right: 13px;
    padding:5px;
    cursor: pointer;
}
.remove{border:none;
    background-color:rgba(247, 140, 105,0.3);
    font-size: 30px;
    border-radius: 20px;
    color:black;
    padding:5px;
    cursor:pointer;
}