.container{
    height:300px;
    width:200px;
    background-color: #fff;
    border-radius: 10px;
    padding:25px;
    position:relative;
    overflow:hidden;
    
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(167, 152, 175);

}
h1{
    font-size: 100px;
    font-weight: 900;
    background-image: url(https://rukminim2.flixcart.com/image/850/1000/kzzw5u80/poster/g/0/o/medium-spiderman-2-official-movie-on-good-quality-hd-quality-original-imagbvny3gsbwdfg.jpeg?q=20&crop=false);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip:text ;
    color:transparent;
}
.container img{
    height:100%;
    width:100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 30px;
    

}
.container i{
    color:#fff;
    font-size: 70px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0) ;
    opacity:0;
    transition:transform ease 0.5s;

    
}
